@import "tailwindcss";

@theme {
    --color-ifcet-primary: #021d4f;
    --color-ifcet-secondary: #fab500;
    --font-family-sans: 'Poppins', sans-serif;
    --font-family-ui-sans: 'Poppins', sans-serif;
}

@layer base {
    html {
      font-family: var(--font-family-sans);
    }
    
    body {
      font-family: var(--font-family-sans);
    }
}